*{
  margin:0
  padding:0
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
   background: #080808;
   color: #fff;
   }

html{
scroll-behavior:smooth;
}

#header{

 /*This is full top box*/
  width:100vw;
  height:vh;
  position:relative;
  background:url("images/background.jpg");
  background-size: cover;

}
#top-image{
     background repeat: no-repeat;
     display:flex;
     background-image: url(images/top2.png);
     height:535px;
     width:390px;
     margin-top:110px;
     margin-right:50px;
}
.container{
    padding: 5px 10%;
    width:100%;
    height:100vh;
}

nav{
  display: flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
width:100px;
}

nav ul li{
 display:inline-block;
 list-style: none;
 margin: 10px 25px;
}
nav ul li a{
  font-family: 'Teko', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color:#fff;
  text-decoration: none;
  font-size:23px;
  margin: 10px 40px;
  position:relative;
}

nav ul li a::after{
  content:'';
  width:0;
  height:3px;
  background: #ff004f;
  display:block;
  position:absolute;
  left: 0px;
  bottom; -8px;
  transition:0.5s;
}
nav ul li a:hover::after{
width:100%;
}
/*---------------header text and image ------------*/

.back-vidio{
 position:absolute;
 right:0;
 bottom:0;
 z-index:1;
}
@media(min-aspect-ratio){
   .back-vidio{
   width:100%;
   height:auto;
   }
}

.header-text-main{

  /*display: flex;
  align-items: center;
  width:106%;
  height:100%;
  justify-content: space-between;
  flex-wrap: wrap;*/
  display: flex;
  width:106%;
  justify-content: space-between;
  align-items: center;
}

.header-text{
  margin-top:60px;
  font-size:25px;
  width:50%;

}
.header-text p{
  font-family: 'Teko', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  margin-top:10px;
  margin-bottom:0px;
  font-size: 22px;
}
.header-text h1{
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-size:45px;
margin-top:0px;
margin-bottom:0%;
width:100%;
}

.header-text h1 span{
  font-family: 'Teko', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size:50px

}

.header-text h1 span{
  color:#fa0f4b;
}


/*----------------About section --------------*/

#about{
  padding: 20px 0px;
  color: #ababab;
}
.row{
 display:flex;
 justify-content:space-between;
 flex-wrap:wrap;
 top-margin: 300px;

}
.about-col-1{
    flex-basis: 35%;
    margin-top: 30px;
}
.about-col-1 img{
  width:100%;
  border-radius: 15px;
  top-margin: 300px;

}
.about-col-2{
 flex-basis: 60%;
 }

.sub-title{
 font-size: 38px;
 font-weight:500;
 color:#fff;
 font-family: 'Kanit', sans-serif;
 font-family: 'Teko', sans-serif;
 font-family: 'Ubuntu', sans-serif;
}
.about-col-2-para{
  font-size:21px;
  text-align:justify;
}
.tag-titles{
display:flex;
margin: 0px 0px 0px;

}

.tag-links{
 color:#ffff;
 margin-right: 70px;
 font-size: 23px;
 font-width: 500px
 cursor: pointer;
 position:relative;
 border: 2px solid red;
 border-radius: 9px;
 background-color:#fa0f4b;
}

.tag-links::after{
  content:'';
  width:0px;
  height:3px;
  background: #ff004f;
  position:absolute;
  left:0px;
  bottom:-8px;
  transition:0.5s;

}

.tag-links.active-link::after{
 width:50%;
}

.tab-contains{
display:none;
list-style:none;
margin: 0px 0px;
}
.tab-contains ul{
margin: 0px;
}
.tab-contains ul li{
color:#ffffff;
font-size:18px;
list-style:none;
margin-left: -40px;
}
.tab-contains span{
list-style:none;
color: #db7171;
font-size: 17px;
}
.tab-contains.active-tab{
display:block;
}
/*--------------- services_and_work ------------*/
#services_and_work{

padding: 30px 0px;
}
.services-list{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 40px;
margin-top:100px;
}
.services-list div{
background:#262626;
padding: 40px;
font-size:13px;
font-weight:300px;
border-radius:10px;
transition: background 0.5s, transform 0.5s;

}
.services-list div svg{
height: 50px;
width:50px;
font-size: 50px;
margin-bottom:30px;
}
/*.my-services-web{
border: 2px solid green;
background:url("images/my-services-web.jpg");
background-size: cover;
position: center;
background-repeat:no-repeat;

}*/

.services-list div a{
text-decoration:none;
color:#fff;
font-size: 15px;
margin-top: 10px;
background-color: #fa0f4b;
border-radius:10px;
padding: 3px;
margin-left: 90px;

}

.services-list div p{
font-size: 15px;
}

.services-list div:hover{
background: #FF4A4A;
transform: translateY(-10px);
}

/*----------------------Conact Me------------------*/
#contact{
height: 70vh;
}

.contact-left{
flex-basis:35%;
}
.contact-right{
flex-basis:60%;
}

.contact-left p{
margin: 50px 10px 50px 10px;
}

.contant-left p i{
 color:#ff004f;
 margin-right:15px;
 font-size: 22px;
}

.social-icons{
 margin-top: 70px;
 margin-bottom:80px;
}
.social-icons a{
 text-decoration:none;
 font-size:30px;
 margin-right:33px;
 color: #ababab;
 display: inline-block;
 transition: transform 0.5s;
}
.social-icons a:hover{
 color:#ff004f;
 transform:translateY(-5px);
}

.btn{
 height: 45px;
 width:100px;
 background-color: #ff004f;
 font-size:25px;
 border-radius: 6px;
 color: white;
 transition: all 0.5s ease-in-out;
 text-decoration:none;
 padding: 2px;
 margin-top: 200px;
}
.btn:hover{
 background-color:#9F0100;
 transform: scale(1);
 cursor: pointer;
}

.submit-btn{
height: 40px;
width:100px;
background-color: #ff004f;
font-size:22px;
border-radius: 6px;
color: white;
}
.submit-btn:hover{
 background-color:#9F0100;
 transform: scale(1);
 cursor: pointer;
}


.contant-left-p{

margin-top:50px;
}

.contant-right form{
 width:100%;
 margin-bottom:40px;
}

form input, form textarea{
width:100%;
border:0;
outline: none;
background:#262626;
padding:15px;
margin: 15px 0;
color:#fff;
font-size: 18px;
border-radius:6px;
}
.copyright{
width:100%;
text-align:center;
padding:25px 0;
background: #2C2C2C;
}
#msg{
color: #04FF60;
display:block;
}

/*-------------------------- css for small screen, mobile compitable ------------------*/

nav .fa-solid{ /*this is to hide mid photo*/
display:none;
}

@media only screen and (max-width: 600px){
   nav ul li a{
    font-size: 20px;
    padding:10px;
    margin-top: 15px;
    }
  nav ul{
   margin-bottom:-8px;
    }
  .header-text h1{
  margin-top: -60px;
  font-size:30px;
  }
 .header-text h1 span{
  font-size:30px;
 }
 #top-image{

 }
 .header-text{
  width:0%;
  margin-top:200px;
 }
 #top-image{
    background repeat: no-repeat;
    display:block;
    background-image: url(images/small-top.png);
    height:480px;
    width:800px;
    margin-top:100px;
    margin-right:-10px;
}
nav .fa-solid{
display:block;
font-size:25px;
}
nav ul{
 background:#ff004f;
 position: fixed;
 top: 0;
 right:-170px;
 width:170px;
 height: 100vh;
 padding-top:50px;
 padding-left: 0px;
 margin-top:0px;
 z-index:2;
 transition:right 0.5s;
}

nav ul li{
  display:block;
  margin-left:25px;
  padding-left:10px;
}

nav ul li a{
margin-left: -5px;
margin-top: 20px;
margin-bottom:20px;
}
nav ul li a span{
margin-bottom:10px;
}
nav ul i{
border: 2px solid green;
position:absolute;
top:10px;
left:42px;
cursor:pointer;
}
/*---------About-me for small screen  --------------------*/

.about-col-1 img{
  display:none;
}
.sub-title{
 font-size: 28px;
 font-weight:500;
 color:#fff;
 font-family: 'Kanit', sans-serif;
 font-family: 'Teko', sans-serif;
 font-family: 'Ubuntu', sans-serif;
}
.about-col-2-para{
  font-size:16px;
  text-align:justify;
}
.tag-links{
font-size:16px;
margin-right:35px;
}
#services_and_work{
margin-top:350px;
margin-bottom:300px;
}
#contact{
margin-top:600px;
margin-bottom:400px;
}
.services-list div a{
margin-left: 55px;
}

.services-list{
margin-top:10px;
}
.contant-right form{
 width:100%;
 margin-bottom:100px;
}
.copyright{
margin-top:150px;
}
.submit-btn{
margin-top:20px;
}
form textarea{
margin-top:10px;
}
#msg{
color: #04FF60;
display:block;
margin-top:-95px;
}

.submit-btn{
padding-bottom:0px;
margin-bottom: 0px;
}


}
